trunk/vendor/**/*.md
trunk/vendor/**/appveyor.yml
trunk/vendor/**/phpunit*
trunk/vendor/**/psalm.xml
trunk/vendor/paragonie/paseto/docs/
trunk/vendor/paragonie/paseto/tests/
trunk/vendor/paragonie/paseto/.*
*.zip
